@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    color: #5D5D7D;
}

.conteiner-total{

    height: 100vh; /*quero que ocupe toda minha tela*/
    width: 100vw;
}

.conteiner-left{
    display: inline-block;
    width: 60%;
    position:relative;
    margin-top: 20%;
    margin-left: 186px;
}

.conteiner-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
}

img{
    position: relative;
    top: 15%;
    right: 100px;
    width: 100%;
}

header{
    margin-top: 25px;
    word-spacing: 25px;
    margin-left: 25px;
    font-size: 20px;
    line-height: 41px;
    cursor: pointer;
}

h1{
    font-size: 70px;
    line-height: 80px;
    width: 50%;
}

P{
    width: 60%;
    opacity: 0.6;
    margin-top: 15px;
    margin-bottom: 15px;
}

button{
    width: 269px;
    height: 62px;
    border-radius: 30px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active {

    opacity: 0.5;
}

a:nth-child(2){

    opacity: 0.4;
}

a:hover{

    opacity: 0.4;

}

a:active{

    opacity: 0.8;
}

@media screen and (max-width:520px){

    .conteiner-left {

        width: 100%;
        height: 50%;
        
    }

    .conteiner-right{
        display: block;
        height: auto;
        width: 100%;
        position: static;
    }

    img{
        position: static;
        
    }

    header{
        
        display: none;
    }

    h1{

        font-size: 36px;
        line-height: 52px;
        
    }
}

